In [35]:
%load_ext autoreload
%autoreload
%matplotlib inline

import os
import sys
parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)

from newscrawler import NewsCrawler
from IPython.display import display
from IPython.core.debugger import set_trace

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 0. 초기화

In [72]:
crawler = NewsCrawler(storage='bigquery')

checking bigquery storage... done (26.45 seconds)
we have total 386232 articles (337549 downloaded, 48683 trashed)

# 1. URL을 모은다

In [73]:
# 제거고려: nextbigfuture, nbcnews, joongang, chosun

In [74]:
collect_result = crawler.collect(); display(*collect_result)

100.00% (104.01 seconds): Collecting URLs... euronews

100.00% (0.12 seconds): Selecting URLs... cryptonews

               collected  collected_unique  selected
all                26101             26033       278
reuters             1088              1088        47
investing.com        927               927        33
yahoo                374               374        31
dailymail           3073              3073        26
...                  ...               ...       ...
vice                 103               103         0
atlantic              97                97         0
nbcnews              242               241         0
news.com.au          280               280         0
cryptonews           328               328         0

[74 rows x 3 columns]

,url,pubs,actual_pub
0,https://politico.com/news/2019/11/04/democrats...,"politico, realclearpolitics",politico
1,https://politico.com/news/2019/11/03/trump-fed...,"politico, realclearpolitics",politico
2,https://politico.com/magazine/story/2019/10/30...,"politico, realclearpolitics",politico
3,https://cnbc.com/2019/11/04/dow-futures-open-u...,"cnbc, realclearpolitics",cnbc
4,https://foxnews.com/opinion/liz-peek-the-two-p...,"fox, realclearpolitics",fox
...,...,...,...
63,https://nbcnews.com/nightly-news/video/house-c...,"msnbc, nbcnews",nbcnews
64,https://nbcnews.com/news/world/mexico-deploys-...,"msnbc, nbcnews",nbcnews
65,https://nbcnews.com/tech/tech-news/more-govern...,"msnbc, nbcnews",nbcnews
66,https://nbcnews.com/think/opinion/trump-s-ukra...,"msnbc, nbcnews",nbcnews
67,https://nbcnews.com/politics/politics-news/tru...,"msnbc, nbcnews",nbcnews

# 2. 해당 URL의 뉴스를 크롤링한다

In [75]:
crawl_result = crawler.crawl(); crawl_result

100.00% (126.12 seconds): Crawling... yahoo

                collect                                crawl
              collected collected_unique selected downloaded trashed total
all               26101            26033      278        192      86   278
reuters            1088             1088       47         30      17    47
investing.com       927              927       33         14      19    33
yahoo               374              374       31         23       8    31
dailymail          3073             3073       26         26       0    26
...                 ...              ...      ...        ...     ...   ...
vice                103              103        0          0       0     0
atlantic             97               97        0          0       0     0
nbcnews             242              241        0          0       0     0
news.com.au         280              280        0          0       0     0
cryptonews          328              328        0          0       0     0

[74 rows x 6 columns]

# 3. 뉴스를 저장한다

In [76]:
crawler.record()

Recording to bigquery storage... done (16.95 seconds)

# 4. 결과보고

In [77]:
crawler.report()

In [41]:
1240/400

3.1

In [52]:
335490+144+138

335772

In [53]:
46904+153+158

47215

In [51]:
112/297

0.3771043771043771

In [66]:
from pathlib import Path
downloaded = [p.stem for p in Path('newsdata/downloaded').glob('**/*.json')]
trashed = [p.stem for p in Path('newsdata/trashed').glob('**/*.json')]

In [65]:
for path in list(Path('newsdata/downloaded').glob('**/*.json'))[:10000]:
    path.unlink()

In [53]:
from pathlib import Path
import json
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.header import Header

In [54]:
acc_fname = 'smtp_gmail.json'
acc = json.loads(Path(acc_fname).read_text()); acc

{'host': 'smtp.gmail.com',
 'from': 'gem763@gmail.com',
 'to': ['gem763@gmail.com', 'sejin.kang@hanwha.com'],
 'pw': 'kkangse1'}

In [55]:
msg = MIMEMultipart('alternative')
msg['Subject'] = Header('NEWS CRAWLING REPORT', 'utf-8')
msg['From'] = acc['from']
msg['To'] = ', '.join(acc['to'])
msg.attach(MIMEText(crawler.crawl_summary.to_html(), 'html'))

with smtplib.SMTP_SSL(acc['host']) as smtp:
    smtp.login(acc['from'], acc['pw'])
    smtp.send_message(msg)

In [1]:
import pandas as pd

In [13]:
str(pd.Timestamp.utcnow())[:19]

'2019-11-03 05:39:06'

In [15]:
import json
type(json.load(open('smtp_gmail.json')))

dict

In [32]:
def test():
    def now():
        return 1111

In [34]:
test().now()

AttributeError: 'NoneType' object has no attribute 'now'