In [5]:
%load_ext autoreload
%autoreload
%matplotlib inline

import os
import sys
parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)

from google.oauth2 import service_account
from IPython.core.debugger import set_trace
from newscrawler import accounts
import pandas_gbq as gbq

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
proj = 'global-news-crawl'
table_downloaded = 'news_dataset.downloaded'
table_trashed = 'news_dataset.trashed'
credentials = service_account.Credentials.from_service_account_info(accounts.bigquery_account)

# 중복항목 확인하기
## 바로 쿼리하기

In [9]:
qry0 = 'SELECT id FROM `{}` GROUP BY id HAVING COUNT(id)>1'.format(proj + '.' + table_downloaded)
data0 = gbq.read_gbq(qry0, project_id=proj, credentials=credentials)

In [10]:
data0

Empty DataFrame
Columns: [id]
Index: []

## 세부항목 보려면

In [6]:
qry1 = 'SELECT id, url, title, downloaded_at FROM `{}`'.format(proj + '.' + table_downloaded)
data1 = gbq.read_gbq(qry0, project_id=proj, credentials=credentials)

In [8]:
data1[data1.duplicated('id')]

Empty DataFrame
Columns: [id, url, title, downloaded_at]
Index: []

# 중복 제거하기
## Bigquery에서 직접실행

In [11]:
# DELETE 
# FROM `global-news-crawl.news_dataset.downloaded` 
# WHERE id IN ('8104a30f2b7930ba8b12b9075d5e1b96d908fca7', ...)